* {
    padding: 0;
    margin: 0;
    font-family: 'Tahoma' sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}